/* body */
:root {
  --bs-carousel-indicator-active-bg: #ff0000;
}
html,
body {
  touch-action: manipulation;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}
button,
a {
  touch-action: manipulation;
}
img {
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}
.w-custom-navbar {
  width: 95%;
}
.animationNav {
  animation: introNav 3s forwards;
}
.bg-body {
  position: relative;
  min-height: 100%;
  background: none;
}

.bg-body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  inset: 0;
  z-index: -10;
  background-image: url("/imgLanding/TEXTURE.webp");
  background-position: center;
  background-size: cover;
  will-change: transform;
  transform: translateZ(0);
}
/* // nav bar */

.bg-glass {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgb(0, 0, 0, 0.1);
}

/* // header nav bar logo */
.logo img {
  height: clamp(60px, 5vw, 70px);
}

/* //  section hero */
/* // section gameboy */

.custom-gameboy-size {
  top: 9%;
  left: 5%;
  width: 90.5%;
  height: 37%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

.bg-custom {
  position: relative;
  min-height: 100svh;
  overflow: hidden;
}
.bg-custom::before {
  content: "";
  position: fixed;
  top: -100px;
  left: 0;
  width: 100%;
  height: 95vh;
  z-index: -1;
  background-image: url("/imgLanding/Verticale_Senza.png");
  background-position: 50% 80%;
  background-size: 110% auto;
  background-repeat: no-repeat;
  animation: introBg 3s forwards;
}
.size-custom {
  width: 100vw;
  height: 100lvh;
}
.opacityAnimation {
  opacity: 0;
}
.marquee {
  position: absolute;
  bottom: 2%;
  width: 100%;
  overflow: hidden;
  animation: moveMarquee 3s forwards;
}

.marquee-track {
  display: flex;
  width: max-content;
  animation: marquee 15s linear infinite;
  transition: 1s ease;
  will-change: transform;
  transform: translate3d(0, 0, 0);
}

.marquee-track h1 {
  white-space: nowrap;
  margin-right: 2rem;
  font-size: 5rem;
  font-weight: 700;
  color: rgb(232, 37, 41);
}
/* tv btns */
.custom-position-touched-tv {
  transform: translateY(2%);
}
/* tv btns end */
.custom-positionUp {
  top: 55.4%;
  left: 21.5%;
  height: 7%;
  width: 12.4%;
  background-color: transparent;
}
.custom-positionRight {
  top: 61.9%;
  left: 32%;
  height: 6%;
  width: 15%;
  background-color: transparent;
  rotate: 90deg;
}
.custom-positionLeft {
  top: 61.9%;
  left: 9%;
  height: 6%;
  width: 15%;
  background-color: transparent;
  rotate: 90deg;
}
.custom-positionRight-touched {
  transform: translateY(-5%);
}
.custom-positionLeft-touched {
  transform: translateY(5%);
}
.custom-positionUp-touched {
  transform: translateY(-5%);
}
.custom-positionDown {
  top: 67.2%;
  left: 21.5%;
  height: 7.5%;
  width: 13%;
  background-color: transparent;
}

.custom-positionDown-touched {
  transform: translateY(5%);
}
.custom-push {
  top: 61%;
  height: 11.2%;
  width: 40.5%;
  background-color: transparent;
  rotate: 328deg;
  left: 60%;
}
.custom-push-touched {
  transform: translate(-2%, 1%);
}
a.phone-link,
a.phone-link:visited,
a.phone-link:hover,
a.phone-link:active {
  color: #000 !important;
  text-decoration: none !important;
}
.display-custom-landscape {
  display: none !important;
}
.gap-custom {
  gap: 0 !important;
}
.moveUl {
  animation: moveUl 2s forwards;
}
.moveImg {
  animation: moveImg 2s forwards;
}
li {
  transition: all 0.5s ease;
}

.mh-custom {
  max-height: 20rem;
  margin-top: 10%;
}
.custom-m {
  margin-top: 35%;
}
.fw-custom {
  font-weight: 500;
  font-size: 1.2rem;
}
.vh-custom-info {
  min-height: 90dvh;
}
.fs-custom-works {
  font-size: 3rem;
  letter-spacing: -2px;
}

.interval {
  background-color: transparent;
  height: 5px;
}

.carousel-item {
  object-fit: cover;
  object-position: center;
}

.carousel-inner {
  width: 75%;
  margin-inline: auto;
}
.h-custom-character {
  height: 25rem;
}
.shadow-custom {
  -webkit-box-shadow: -1px 1px 23px 1px rgba(0, 0, 0, 0.76);
  box-shadow: -1px 1px 23px 1px rgba(0, 0, 0, 0.76);
}
.none {
  display: none;
}
.selector {
  /* color: red !important; */
  background-color: #ff0000 !important;
}
.w-max-content {
  width: max-content;
}
.underline {
  display: list-item;
  list-style: none;
}
.underline::marker {
  display: none;
}
/* .underline::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5%;
  background-color: #000;
} */
.fw-custom-info {
  font-weight: 550;
}
.scrollP {
  rotate: 270deg;
  transform-origin: top right;
  opacity: 0;
  position: absolute;
  right: 6%;
  bottom: 35%;
  margin: 0;
  animation: moveP 3s infinite;
  animation-delay: 3s;
}
.scrollP-tv-Works {
  rotate: 270deg;
  transform-origin: top left;
  opacity: 0;
  position: absolute;
  top: 12%;
  left: 2%;
  margin: 0;
  animation: moveP 3s infinite;
  animation-delay: 3s;
}

.gap-custom-info {
  gap: 5rem;
}
.w-custom-info-cell {
  width: 60%;
}
.w-custom-info-cell-desktop {
  width: 45%;
}
.custom-tv-size {
  top: 9%;
  left: 8%;
  width: 66%;
  height: 80%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}
#btn-tv-up {
  right: 8.7%;
  top: 36%;
  width: 6%;
  height: 9%;
}
#btn-tv-up:active {
  transform: translateY(2%);
}
#btn-tv-down {
  right: 8.7%;
  top: 51.5%;
  width: 6%;
  height: 9%;
}
#btn-tv-down:active {
  transform: translateY(2%);
}
#btn-tv-push {
  right: 8.7%;
  bottom: 20%;
  width: 6%;
  height: 9%;
}
#btn-tv-push:active {
  transform: translateY(2%);
}
.w-custom-tv-works {
  width: 45vh;
}
.m-custom-works-tv {
  margin-top: 6vh;
  margin-inline: 5%;
}
.gap-works-tv {
  gap: 10vh;
}
.mb-works-tv {
  margin-bottom: 20vh;
}
.rotate-btn-tv {
  rotate: 180deg;
}
.carousel-indicators {
  margin-bottom: -2rem !important;
}
.left-info-tv {
  left: 4%;
}
.vh-custom-singleW {
  width: 80vh;
}
.m-custom-singlew {
  margin-bottom: 1rem;
  margin-top: 10rem;
}
.custom-positionRight-touched {
}
/* media query  */
@media screen and (min-width: 480px) {
  header,
  main {
    display: block;
  }

  .custom-gameboy-size {
    object-fit: fill;
  }
}
@media screen and (max-height: 500px) and (orientation: landscape) {
  header,
  main {
    display: none !important;
  }
  main.d-flex {
    display: none !important;
  }
  #SpacedNavBar.d-flex {
    display: none !important;
  }
  .display-custom-landscape {
    display: flex !important;
  }
}

@media screen and (min-width: 576px) {
  header,
  main {
    display: block;
  }

  .bg-custom::before {
    content: "";
    top: 0.1%;
  }
  .w-custom-info-cell {
    width: 50%;
  }
}

@media screen and (min-width: 768px) {
  header,
  main {
    display: block;
  }

  .marquee {
    bottom: 0;
  }
  .bg-custom::before {
    content: "";
    top: 0%;
    background-image: url("/imgLanding/Orizzontale_Senza.png");
    background-position: center;
  }
  .gap-works-tv {
    gap: 15vh;
  }
  .w-custom-tv-works {
    width: 50vh;
  }
}
@media screen and (min-width: 992px) {
  header,
  main {
    display: block;
  }
  .display-custom-landscape {
    display: none !important;
  }
  .marquee {
    bottom: 0;
  }
  .bg-custom::before {
    content: "";
    top: 2%;
    background-image: url("/imgLanding/Orizzontale_Senza.png");
    background-position: center;
    background-size: contain;

    background-position: 50% 80%;
  }

  section.flex-column {
    flex-direction: row !important;
  }
  section.justify-content-center {
    justify-content: space-around !important;
    gap: 5rem;
  }
  .cheustom-m {
    margin-top: 20% !important;
  }
  img.w-75 {
    width: 50% !important;
  }
  li:hover {
    scale: (1.2);
  }
  li.fs-4 {
    font-size: 2rem !important;
  }
  li.mb-3 {
    margin-bottom: 0rem !important;
  }

  .moveUl {
    animation: moveUl 2s forwards;
  }
  .moveImg {
    animation: moveImg 2s forwards;
  }
  .moveUl li {
    cursor: pointer;
  }
  .moveUl li span {
    position: relative;
    display: inline-block;
  }

  .marquee-track h1 {
    font-size: 6rem;
    margin-bottom: 0;
  }
  .marquee-track:hover {
    animation-play-state: paused;
    cursor: pointer;
  }
  .custom-m {
    margin-top: 0 !important;
  }
  .mh-custom {
    margin-top: 0 !important;
  }
  .lastLi {
    margin-bottom: 0 !important;
  }
  .mh-custom {
    max-height: 30rem;
  }
  .w-custom-info-cell {
    width: 35%;
  }
  .gap-custom-info {
    gap: 0;
  }
  #info-cont .align-items-center {
    align-items: end;
  }
  .w-custom-tv-works {
    width: 52vh;
  }
  .left-info-tv {
    left: 3%;
  }
}
@media screen and (min-width: 1200px) {
  .w-custom-info-cell-desktop {
    width: 30%;
  }
}

/* keyFrames */
@keyframes moveP {
  from {
    transform: translateX(0);
    opacity: 0.5;
  }
  50% {
    transform: translateX(30%);
    opacity: 0.5;
  }
  to {
    transform: translateX(0);
    opacity: 0.5;
  }
}
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
@keyframes moveMarquee {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes introNav {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes introBg {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes moveUl {
  from {
    transform: translateX(-150%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes moveImg {
  from {
    transform: translateX(150%);
  }
  to {
    transform: translateX(0);
  }
}
