/* body */
html,
body {
  touch-action: manipulation;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}
button,
a {
  touch-action: manipulation;
}
img {
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}
.animationNav {
  animation: introNav 3s forwards;
}
.bg-body {
  position: relative;
  min-height: 100%;
  background: none;
}

.bg-body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  inset: 0;
  z-index: -10;
  background-image: url("/imgLanding/TEXTURE.png");
  background-position: center;
  background-size: cover;
  will-change: transform;
  transform: translateZ(0);
}
/* // nav bar */

.bg-glass {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgb(0, 0, 0, 0.1);
}

/* // header nav bar logo */
nav .logo img {
  height: clamp(40px, 5vw, 70px);
}

/* //  section hero */
/* // section gameboy */

.custom-gameboy-size {
  top: 9%;
  left: 5%;
  width: 90.5%;
  height: 37%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

.bg-custom {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}
.bg-custom::before {
  content: "";
  position: fixed;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  background-image: url("/imgLanding/Verticale_Senza.png");
  background-position: 50% 80%;
  background-size: 110% auto;
  background-repeat: no-repeat;
  animation: introBg 3s forwards;
}
.size-custom {
  width: 100vw;
  height: 100lvh;
}
.opacityAnimation {
  opacity: 0;
}
.marquee {
  position: absolute;
  bottom: 8%;
  width: 100%;
  overflow: hidden;
  animation: moveMarquee 3s forwards;
}

.marquee-track {
  display: flex;
  width: max-content;
  animation: marquee 15s linear infinite;
  transition: 1s ease;
  will-change: transform;
  transform: translate3d(0, 0, 0);
}

.marquee-track h1 {
  white-space: nowrap;
  margin-right: 2rem;
  font-size: 5rem;
  font-weight: 700;
  color: rgb(232, 37, 41);
}
.custom-positionUp {
  top: 55%;
  left: 21.5%;
  height: 7%;
  width: 13%;
  background-color: transparent;
}
.custom-positionUp-touched {
  transform: translateY(-3%);
}
.custom-positionDown {
  top: 67.2%;
  left: 21.5%;
  height: 7.5%;
  width: 13%;
  background-color: transparent;
}

.custom-positionDown-touched {
  transform: translateY(3%);
}
.custom-push {
  top: 61%;
  height: 11.2%;
  width: 40.5%;
  background-color: transparent;
  rotate: 328deg;
  left: 60%;
}
.custom-push-touched {
  transform: translate(-2%, 1%);
}
a.phone-link,
a.phone-link:visited,
a.phone-link:hover,
a.phone-link:active {
  color: #000 !important;
  text-decoration: none !important;
}
.display-custom-landscape {
  display: none !important;
}
.gap-custom {
  gap: 0 !important;
}
.moveUl {
  animation: moveUl 2s forwards;
}
.moveImg {
  animation: moveImg 2s forwards;
}
li {
  transition: all 0.5s ease;
}
@media screen and (max-height: 500px) and (orientation: landscape) {
  header,
  main {
    display: none !important;
  }
  main.d-flex {
    display: none !important;
  }
  .display-custom-landscape {
    display: flex !important;
  }
}
@media screen and (min-width: 480px) {
  header,
  main {
    display: block;
  }

  .custom-gameboy-size {
    object-fit: fill;
  }
}
@media screen and (min-width: 576px) {
  header,
  main {
    display: block;
  }

  .bg-custom::before {
    content: "";
    top: 0.1%;
  }
}

@media screen and (min-width: 768px) {
  header,
  main {
    display: block;
  }

  .marquee {
    bottom: 0;
  }
  .bg-custom::before {
    content: "";
    top: 0%;
    background-image: url("/imgLanding/Orizzontale_Senza.png");
    background-position: center;
  }
}
@media screen and (min-width: 992px) {
  header,
  main {
    display: block;
  }
  .display-custom-landscape {
    display: none !important;
  }
  .marquee {
    bottom: 0;
  }
  .marquee.d-none {
    display: block !important;
  }
  .bg-custom::before {
    content: "";
    top: 2%;
    background-image: url("/imgLanding/Orizzontale_Senza.png");
    background-position: center;
    background-size: contain;

    background-position: 50% 80%;
  }

  section.flex-column {
    flex-direction: row !important;
  }
  section.justify-content-center {
    justify-content: space-around !important;
    gap: 5rem;
  }
  .cheustom-m {
    margin-top: 20% !important;
  }
  img.w-75 {
    width: 50% !important;
  }
  li:hover {
    scale: (1.2);
  }
  li.fs-4 {
    font-size: 2rem !important;
  }
  li.mb-3 {
    margin-bottom: 0rem !important;
  }

  .moveUl {
    animation: moveUl 2s forwards;
  }
  .moveImg {
    animation: moveImg 2s forwards;
  }
  .moveUl li {
    cursor: pointer;
  }
  .moveUl li span {
    position: relative;
    display: inline-block;
  }
  .moveUl li span::before {
    content: "";
    background-color: red;
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    transition: all 0.5s ease;
    transform: scaleX(0);
  }
  .moveUl li span:hover::before {
    transform: scaleX(1);
  }
  .marquee-track h1 {
    font-size: 6rem;
    margin-bottom: 0;
  }
  .marquee-track:hover {
    animation-play-state: paused;
    cursor: pointer;
  }
  .custom-m {
    margin-top: 0 !important;
  }
  .mh-custom {
    margin-top: 0 !important;
  }
  .lastLi {
    margin-bottom: 0 !important;
  }
  .mh-custom {
    max-height: 30rem;
  }
}
/* // animations */
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
@keyframes moveMarquee {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes introNav {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes introBg {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes moveUl {
  from {
    transform: translateX(-150%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes moveImg {
  from {
    transform: translateX(150%);
  }
  to {
    transform: translateX(0);
  }
}

.mh-custom {
  max-height: 20rem;
  margin-top: 10%;
}
.custom-m {
  margin-top: 35%;
}
.fw-custom {
  font-weight: 500;
  font-size: 1.3rem;
}
.vh-custom-info {
  min-height: 100dvh;
}
.fs-custom-works {
  font-size: 3rem;
  letter-spacing: -2px;
}

.interval {
  background-color: transparent;
  height: 5px;
}

.carousel-item {
  object-fit: cover;
  object-position: center;
}

.carousel-inner {
  width: 75%;
  margin-inline: auto;
}
.h-custom-character {
  height: 25rem;
}
.shadow-custom {
  -webkit-box-shadow: -1px 1px 23px 1px rgba(0, 0, 0, 0.76);
  box-shadow: -1px 1px 23px 1px rgba(0, 0, 0, 0.76);
}
.none {
  display: none;
}
